<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button type="button" class="btn btn-success">Rechercher</button>
    </form>
</nav>

<div class="ui-g">
    <div class="ui-sm-12 ui-md-3 ui-md-offset-1 border border-info panel panel-default" id="fixedCriteres">
        <div class="jumbotron jumbotron-fluid" style="padding-top:15;padding-bottom:15">
            <div class="container">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <b>
                            <mat-icon>filter_list</mat-icon>
                            CRITERES DE RECHERCHE </b>
                    </h3>
                </div>
                <div class="dropdown-divider"></div>
                <div class="ui-g">
                    <h4 class="first"> Type de plat</h4>
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button"*ngFor="let domaine of domaine" [(ngModel)]="domaineSlectionne">{{domaine}}</button>

                    </div>
                </div>
                <br>

                <div class="ui-g">
                    <h4 class="first">Fourchette de prix</h4>
                </div>


                <ng5-slider (userChangeEnd)="PrixetType()" [(value)]="minValue" [(highValue)]="maxValue"
                            [options]="options"></ng5-slider>

                <br>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-7 ui-md-offset-4 border border-info panel panel-default">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="ui-g">
                    <div class="ui-md-1 ui-md-offset-6">
                        <div class="spinner-border text-primary" *ngIf="!plats" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="alert alert-warning ui-md-8" *ngIf="plats&&plats.length==0" role="alert">
                        Aucun produit ne correspond à vos critères, veuillez les modifier
                    </div>
                </div>

                <p-dataView #dv *ngIf="plats&&plats.length!=0" [value]="plats" [paginator]="true" [rows]="4"
                            [sortField]="sortField" [sortOrder]="sortOrder"
                            filterBy="id" [loading]="loading">
                    <p-header>
                        <div class="ui-helper-clearfix">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-4">
                                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Trier par"
                                                (onChange)="onSortChange($event)"
                                                [style]="{'min-width':'15em'}"></p-dropdown>
                                </div>
                                <div class="ui-g-6 ui-md-3 ui-md-offset-1 filter-container">
                                    <div style="position:relative">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Nom du plat" (input)="dv.filter($event.target.value)">
                                        </mat-form-field>
                                        <!-- <input type="search" pInputText placeholder="Search by brand" (input)="dv.filter($event.target.value)"> -->
                                    </div>
                                </div>
                                <div class="ui-g-6 ui-md-4" style="text-align:right">
                                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                                </div>
                            </div>
                        </div>
                    </p-header>
                    <ng-template let-plat pTemplate="listItem">
                        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                            <div class="ui-g-12 ui-md-3" style="text-align:center">
                                <img height="200" width="200" src="{{plat.image}}">
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-md-offset-1 car-details">
                                <div class="ui-g" >
                                    <div class="ui-md-12" style="padding: 0em; "><h4><b>{{plat.id}}</b></h4></div>
                                    <div class="ui-md-12" style="padding: 0em;"><h5>{{plat.type}}</h5></div>
                                    <div class="ui-md-12" style="padding: 0em;"><h5>{{plat.prix}}</h5></div>
                                    <div class="ui-md-12" style="padding: 0em;"><h5> <i>{{plat.ingredients}}</i></h5></div>


                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-1" style="padding-top: 50px">
                                <button style="margin-bottom: 10px" pButton type="button" icon="fa fa-cart-plus"
                                        pTooltip="Ajouter dans votre panier" tooltipPosition="top"
                                        (click)="addMenus(plat.id)" class="ui-button-success"></button>
                                <br>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-plat pTemplate="gridItem">
                        <div style="padding:.5em" class="ui-g-12 ui-md-3">
                            <p-panel [header]="plat.id" [style]="{'text-align':'center'}">
                                <img src="{{plat.image}}" width=150>
                                <div class="car-detail">{{plat.type}} - {{plat.prix}}</div>
                                <hr class="ui-widget-content" style="border-top:0">
                                <button style="margin-right: 10px" pButton type="button" icon="fa fa-cart-plus"
                                        pTooltip="Ajouter dans le panier"
                                        (click)="addMenus(plat.id)" class="ui-button-success"
                                        tooltipPosition="top"></button>
                            </p-panel>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft" let-state>
                        <button type="button" pButton icon="fa-refresh"></button>
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                        <button type="button" pButton icon="fa-cloud-upload"></button>
                    </ng-template>
                </p-dataView>


            </div>
        </div>
    </div>
</div>
