<div class="ui-g">
    <div class="ui-sm-12 ui-md-3 ui-md-offset-1 border border-info panel panel-default" id="fixedCriteres">
        <div class="jumbotron jumbotron-fluid" style="padding-top:15;padding-bottom:15">
            <div class="container">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <b>
                            <mat-icon>filter_list</mat-icon>
                            CRITERES DE RECHERCHE </b>
                    </h3>
                </div>
                <div class="dropdown-divider"></div>
                <div class="ui-g">
                    <h4 class="first"><b> PAR DOMAINE </b> </h4>
                </div>

                <div class="ui-g">
                    <div class="input-group-prepend">
                        <select [(ngModel)]="domaineF" class="selectpicker"
                                id="inputGroupSelect01" (change)="getFestivals()">
                            <option *ngFor="let dom of domaineExistant">{{dom}}</option>
                        </select>

                    </div>
                </div>

                <div class="dropdown-divider"></div>
                <div class="ui-g">
                    <h4 class="first"><b> PAR VILLE</b></h4>
                </div>
                <div class="ui-g">
                    <div class="input-group-prepend">
                        <select [(ngModel)]="VilleSelect" class="selectpicker"
                                id="inputGroupSelect01" (change)="getFestivals()">
                            <option *ngFor="let dom of domaineExistant">{{dom}}</option>
                        </select>
                    </div>
                </div>


                <br>

                <br>
                <div class="ui-g">
                    <h4 class="first"> <b>DATE DEBUT</b> </h4>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="choisir date debut ">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-7 ui-md-offset-4 border border-info panel panel-default">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="ui-g">
                    <div class="ui-md-1 ui-md-offset-6">
                        <div class="spinner-border text-primary" *ngIf="!festivals" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="alert alert-warning ui-md-8" *ngIf="festivals&&festivals.length==0" role="alert">
                        Aucun Festivale ne correspond à vos critères, veuillez les modifier
                    </div>
                </div>

                <p-dataView #dv *ngIf="festivals&&festivals.length!=0" [value]="festivals" [paginator]="true"
                            [rows]="20"
                            [sortField]="sortField" [sortOrder]="sortOrder"
                            filterBy="id" [loading]="loading">
                    <p-header>
                        <div class="ui-helper-clearfix">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-4">
                                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Trier par"
                                                (onChange)="onSortChange($event)"
                                                [style]="{'min-width':'15em'}"></p-dropdown>
                                </div>


                            </div>
                        </div>
                    </p-header>

                    <ng-template let-festiva pTemplate="listItem">
                        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">

                            <div class="ui-g-12 ui-md-6 ui-md-offset-1 car-details">
                                <div class="ui-g">
                                    <div ><h6>Nom Festival :<b> {{festiva.nomFestival}}</b></h6></div>
                                    <div class="ui-md-12" style="padding: 0em;"><h5>DOMAINE {{festiva.domain}}</h5>
                                    </div>
                                    <div class="ui-md-12" style="padding: 0em;"><h5> DATE DEBUT
                                        : {{festiva.dateDebut}}</h5></div>
                                    <div class="ui-md-12" style="padding: 0em;"><h5>DATE FIN : {{festiva.dateFin}}</h5>
                                    </div>
                                    <div class="ui-md-12" style="padding: 0em;"><h5>Commune : {{festiva.commune}}</h5>
                                    </div>


                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-1" style="padding-top: 50px">
                                <a [routerLink]="['AjoutPlaceFestivale',festiva.idFestival]">
                <span style=" margin-left: 10px; margin-top: 10px">
                </span>
                                    <p>Ajout-Festivale</p>
                                </a>

                                <br>

                                <button pButton type="button" icon="fa fa-eye" (click)="selectdetails(festiva)"
                                        pTooltip="Voir les details du Festival" tooltipPosition="top"
                                        style="margin-top:0"></button>

                            </div>


                        </div>
                    </ng-template>

                    <ng-template pTemplate="paginatorleft" let-state>
                        <button type="button" pButton icon="fa-refresh"></button>
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                        <button type="button" pButton icon="fa-cloud-upload"></button>
                    </ng-template>
                </p-dataView>


            </div>
        </div>
    </div>
    <p-dialog header="fest detail" [(visible)]="displayDialog" [responsive]="true" [modal]="true"
              [style]="{width: '550px', height: '550px'}">
        <div class="ui-g" *ngIf="selectedFest">

            <div class="ui-g-4"><b>Nom Festival</b> : {{selectedFest.nomFestival}} :</div>
            <div class="ui-g-8"><b> Date debut </b>: {{selectedFest.dateDebut}}</div>
            <div class="ui-g-4"><b> Date fin</b> : {{selectedFest.dateFin}}</div>
            <div class="ui-g-8"><b> Domaine </b>: {{selectedFest.domaine}}</div>
            <div class="ui-g-4"><b>Commune </b> : {{selectedFest.commune}}</div>
            <div class="ui-g-8"><b>Siteweb </b>: {{selectedFest.siteWeb}}</div>

        </div>
    </p-dialog>


</div>
