<div class="container">
  <br>
  <h1 class="text-center">
    <i class="fa fa-file-text-o"></i>
    Les Hebergements
  </h1>
  <p class="text-center text-muted">
  </p>
  <br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel panel-heading">
          <h3 class="panel-title"> Commandes</h3>
        </div>
        <div class="panel panel-body">
          <p></p>
          <div class="table-responsive">
            <p-table [value]="tabCamping" >
              <ng-template pTemplate="header">
                <tr>
                  <th>Nom Commercial #</th>
                  <th>Num Tel</th>
                  <th>Nom plats</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-c>
                <tr>
                  <td>{{c.nomCommercial}}</td>
                  <td>{{c.numTel}}</td>
                  <td >
                    <a style="position: center" [routerLink]="['/commande/facture/', c.id]" pTooltip="Voir les details de cette facture" tooltipPosition="top"
                       class="btn btn-default"><i class="fa fa-eye"></i>

                    </a>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
