
<div class="container " >
  <div class="omb_login ">
    <h3 class="omb_authTitle" style="">Créer un compte </h3>
  </div>
  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-6">
      <form class="omb_loginForm" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" name="username" placeholder="email address"
                 id="email"
                 formControlName="email">
        </div>
        <span class="help-block"></span>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" id="password"
                 name="password" placeholder="Password" formControlName="password">
        </div>
      <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                [disabled]="signUpForm.invalid">Créer mon compte</button>
      </form>
      <span class="text-danger">{{ errorMessage }}</span>
    </div>
  </div>
</div>
<p-toast position="top-right"></p-toast>