

<div class="col-md-6">
<div *ngFor="let place of places">
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Jour {{place.jour}}
            </mat-panel-title>
            <mat-panel-description>
              Information du festival :{{place.idFestival}}
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-list>
              <mat-list-item></mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>nombre place Categorie 1 : {{place.nbPlacesRestantesCateg1}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>tarif : {{place.tarifCateg1}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>nombre place Categorie 2 : {{place.nbPlacesRestantesCateg2}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>tarif : {{place.tarifCateg2}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>nombre place Sans Categorie : {{place.nbPlacesRestantesSansCateg}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>tarif : {{place.tarifSansCateg}}</mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          
          <p></p>
        </mat-expansion-panel>
      </mat-accordion>
</div>
</div>
      
<div class="col-md-6" >
    <div class="example-container">

        <mat-form-field >
            <mat-select placeholder="Choisir jour" [(ngModel)]="jour">
                <mat-option *ngFor="let place of places" [value]="place.jour">{{ place.jour }}</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field>
          <input matInput placeholder=" nombre de place sans categorie" type="number"
                    min="0" value="0" name="" [(ngModel)]="nbPlaceSansCateg">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder=" nombre de place categorie 1" type="number"
                      min="0" value="0" name="" [(ngModel)]="nbPlaceCateg1">
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder=" nombre de place categorie 2" type="number"
                        min="0" value="0" name="" [(ngModel)]="nbPlaceCateg2">
            </mat-form-field>
            <button type="button" class="btn btn-success" (click)="onSubmit()">Reserver</button>
            <button type="button" class="btn btn-danger" >Annuler</button>

      </div>
      <br>
      <br>
    <button class="btn btn-default" (click)="hebergement()">Hebergement</button>



</div>
