






<p-dataView #dv  [value]="places" [paginator]="true"
[rows]="20"
[sortField]="sortField" [sortOrder]="sortOrder"
filterBy="id" [loading]="loading">


 <ng-template let-place pTemplate="listItem">
  <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">

    <div class="ui-g-12 ui-md-6 ui-md-offset-1 car-details">
      <div class="ui-g">
        <div ><h6>jour : <b> {{place.jour}}</b></h6></div>
        <div class="ui-md-12" style="padding: 0em;"><h5>nbPlacesRestantesSansCateg {{place.nbPlacesRestantesSansCateg}}</h5>
        </div>
        <div class="ui-md-12" style="padding: 0em;"><h5>tarifSansCateg
          : {{place.tarifSansCateg}}</h5></div>
        <label for="tentacles">Choisix :</label>

        <input type="number" id="tentacles0" name="tentacles"
               min="0" max="{{place.nbPlacesRestantesSansCateg}}" (ngModel)="nbPlaceSanGateg">

        <div  class="ui-md-12" style="padding: 0em;"><h5>nbPlacesCateg1 : {{place.nbPlacesCateg1}}</h5>
        </div>

        <div class="ui-md-12" style="padding: 0em;"><h5>tarifCateg1 : {{place.tarifCateg1}}</h5>
        </div>
        <label for="tentacles">Choisix :</label>

        <input type="number" id="tentacles1" name="tentacles"
               min="0" max="{{place.nbPlacesCateg1}}" (ngModel)="nbPlaceCateg1">

        <div class="ui-md-12" style="padding: 0em;"><h5>nbPlacesRestantesCateg2 : {{place.nbPlacesRestantesCateg2}}</h5>
        </div>
        <div class="ui-md-12" style="padding: 0em;"><h5>tarifCateg2 : {{place.tarifCateg2}}</h5>
        </div>
        <label for="tentacles">Choisix :</label>

        <input type="number" id="tentacles2" name="tentacles"
               min="0" max="{{place.nbPlacesRestantesCateg2}}" (ngModel)="nbPlaceCateg2">

        <div class="ui-md-12" style="padding: 0em;"><h5>idFestival : {{place.idFestival}}</h5>
        </div>
        <div>
          <button pButton type="button" label="Danger" class="ui-button-danger"></button>
          <button pButton type="button" label="Reserver" class="ui-button-success" (click)="onSubmit(place.jour)"></button>
        </div>


      </div>
    </div>
  </div>
</ng-template> 


</p-dataView>
