

<form action="" method="get" class="form-example">
  <div class="form-example">
    <label for="name">Nom Festivale : </label>
    <input type="text" name="name" id="name" [(ngModel)]="nomFestival" required>
  </div>
  <div class="form-example">
    <label for="name">Domaine Festivale : </label>
    <input type="text" name="name" id="name" [(ngModel)]="domaine" required>
  </div>
  <div class="form-example">
    <label for="name">Complement Domaine : </label>
    <input type="text" name="name" id="name" [(ngModel)]="complementDomaine" required>
  </div>
  <div class="form-example">
    <label for="name">Region : </label>
    <input type="text" name="name" id="name" [(ngModel)]="region" required>
  </div>
  <div class="form-example">
    <label for="name">Departement : </label>
    <input type="text" name="name" id="name" [(ngModel)]="departement" required>
  </div>
  <div class="form-example">
    <label for="name">Periodicité : </label>
    <input type="text" name="name" id="name" [(ngModel)]="periodicite" required>
  </div>
  <div class="form-example">
    <label for="name">Mois Habituelle Debut : </label>
    <input type="text" name="name" id="name" [(ngModel)]="moiHabDebut" required>
  </div>

  <div class="form-example">
    <label for="name">commune : </label>
    <input type="text" name="name" id="name" [(ngModel)]="commune" required>
  </div>
  <div class="form-example">
    <label for="name">dateDebut : </label>
    <input type="text" name="name" id="name" [(ngModel)]="dateDebut" required>
  </div>
  <div class="form-example">
    <label for="name">dateFin : </label>
    <input type="text" name="name" id="name" [(ngModel)]="dateFin" required>
  </div>
  <div class="form-example">
    <label for="name">dateCreation : </label>
    <input type="text" name="name" id="name" [(ngModel)]="dateCreation" required>
  </div>
  <div class="form-example">
    <label for="name">codepost : </label>
    <input type="text" name="name" id="name" [(ngModel)]="codepost" required>
  </div>
  <div class="form-example">
    <label for="name">commune : </label>
    <input type="text" name="name" id="name" [(ngModel)]="commune" required>
  </div>
  <div class="form-example">
    <label for="name">codeINSEE : </label>
    <input type="text" name="name" id="name" [(ngModel)]="codeINSEE" required>
  </div>
  <div class="form-example">
    <label for="name">coord1 : </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="name">nomDepartement : </label>
    <input type="text" name="name" id="name" [(ngModel)]="nomDepartement" required>
  </div>
  <div class="form-example">
    <label for="name">nbPlaceLouees : </label>
    <input type="number" name="name" id="number" [(ngModel)]="nbPlaceLouees" placeholder="{{nbPlaceLouees}}" required>
  </div>
  <div class="form-example">
    <label for="name">nomDepartement : </label>
    <input type="text" name="name" id="name" [(ngModel)]="nomDepartement" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Subscribe!">
  </div>
</form>
