/* You can addMenu global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
footer {
    display: flex;
    justify-content: center;
   background-color: #e3f2fd;
	color: rgb(7, 7, 7);
	left: 0;
	bottom: 5px;
    width: 100%;
   
    
}
