    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" style="padding-top:1em" id="applicationLogo">
                <b>BIENVENUE SUR FESTIBED </b>
                <i class="fa fa-television" aria-hidden="true"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item Accueilbouton" id="rightButton">
                    <a routerLink="/">
                        <span id="iconeMove">
                           <mat-icon>library_music</mat-icon>
                        </span>
                        <p>Festivals</p>
                    </a>
                </li>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                          <li class="nav-item Accueilbouton" id="rightButton">
                              <a routerLink="/ajoutfestival">
                        <span id="iconeMove">
                           <mat-icon>library_music</mat-icon>
                        </span>
                                  <p>Ajout-Festivals</p>
                              </a>
                          </li>

                <li class="nav-item" id="rightButton">
                    <a routerLink="menus">
                        <span>
                            <mat-icon> hotel</mat-icon>
                        </span>
                        <p>Hebergements</p>
                    </a>
                </li>
                <li class="nav-item" id="rightButton">
                    <a routerLink="user/panier">
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true" style="size: 30px">
                            </i>
                            <span matBadge="{{nbArticlesPanier}}" matBadgeOverlap="false" *ngIf="nbArticlesPanier&&nbArticlesPanier!=0"></span>

                        
                        <p>Panier </p>
                    </a>
                </li>
                <li class="nav-item dropdown" id="rightButton">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>
                            <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                        </span>
                        <p>Compte</p>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li routerLinkActive="" *ngIf="!user">
                                <a routerLink="authentification/signin">Connexion</a>
                            </li>
                            <li routerLinkActive="" *ngIf="!user">
                                <a routerLink="authentification/signup">Créer un compte</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li>
                                <a (click)="onSignOut()" *ngIf="user" style="cursor:pointer">Se déconnecter</a>
                            </li>
                    </div>
                </li>
              </ul>
            </div>
          </nav>
<br><br><br><br>




<p-toast position="top-right"></p-toast>
