<nav class="navbar navbar-default" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="navbar-left">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a><b style=" font-family: 'Arial Rounded MT Bold'">RIM CULTURE </b>
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a routerLink="/">
                <span style=" margin-left: 10px; margin-top: 10px">
                     <i class="fa fa-home" aria-hidden="true"></i>
                </span>
                    <p>Home</p>
                </a>
            </li>

            
            <li style="size: 30px">
                <a routerLink="user/panier">
                <span style=" margin-left: 10px; margin-top: 10px">
                     <i class="fa fa-shopping-cart" aria-hidden="true" style="size: 7px"></i>
                </span>
                    <p>Panier</p>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span style="margin-left: 20px ">
                     <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </span>
                    <p>Compte <i class="fa fa-sort-desc" aria-hidden="true" style=""></i></p>
                </a>
                <ul class="dropdown-menu">
                    <li *ngIf="isAuth" style="margin-left: 20px; color: green; font-weight: bold; font-style: italic">
                        <p>{{user }}<i aria-hidden="true" style="margin-left: 5px"></i></p>
                    </li>
                    <li *ngIf="isAuth">
                        <a routerLink="user/dashbord">Tableau de bord</a>
                    </li>
                    <li *ngIf="isAuth">
                        <a routerLink="user/commande">Historique des Commandes</a>
                    </li>
                    <li *ngIf="isAuth">
                        <a routerLink="user/panier">Votre panier</a>
                    </li>
                    <li routerLinkActive="" *ngIf="!isAuth">
                        <a routerLink="authentification/signin">Connexion</a>
                    </li>
                    <li routerLinkActive="" *ngIf="!isAuth">
                        <a routerLink="authentification/signup">Créer un compte</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Se déconnecter</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<p-toast position="top-right"></p-toast>
